@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* globals.css */
.rotate-48 {
  @apply rotate-[48deg];
}

.rotate-230 {
  @apply rotate-[230deg];
}

.rotate-330 {
  @apply rotate-[330deg];
}

.rotate-140 {
  @apply rotate-[140deg];
}